<header
  [ngClass]="{
    headerFixed: headerFixed,
    overlayMenu: overlayMenu,
    menuOpen: menuOpen
  }"
>
  <div class="left">
    <button
      class="icon-only no-bg menuButton"
      [ngClass]="{ menuOpen: menuOpen }"
      (click)="_toggleMenu()"
    >
      <i class="material-icons md-18" *ngIf="menuOpen">
        menu_open
      </i>
      <i class="material-icons md-18" *ngIf="!menuOpen">
        menu
      </i>
      <!-- <img
        [src]="
          menuOpen
            ? 'assets/icons/menu_open-24px.svg'
            : 'assets/icons/menu-24px.svg'
        "
        alt=""
      /> -->
    </button>
    <div class="company">
      {{ companyName }}
    </div>
  </div>
  <div class="right">
    <div class="actions">
      <section class="widg-input">
        <input
          type="text"
          class="input"
          name="searchField"
          placeholder=""
          #searchBar
        />
        <label for="searchField" class="input-label" (click)="_focusSearch()"
          >Suche</label
        >
      </section>
    </div>
    <span>
      Hello,
      <a routerLink="user">{{ user?.name }}</a>
      !
    </span>
    <span
      class="userImage"
      alt="profileImage"
      [ngStyle]="{ 'background-image': 'url(https://placeimg.com/72/72/any)' }"
    ></span>
  </div>
</header>
