<header [ngClass]="{headerFixed: headerFixed, pushMenu: pushMenu, menuOpen: menuOpen}">
  <div class="left">
    <button class="menuButton" *ngIf="!menuOpen" [ngClass]="{menuOpen: menuOpen}" (click)="_toggleMenu()">
      <!-- <span class="bar firstBar"></span>
      <span class="bar secondBar"></span>
      src/assets/icons/menu-24px.svg
      <span class="bar thirdBar"></span> -->
      <img [src]="menuOpen ? 'assets/icons/menu_open-24px.svg' : 'assets/icons/menu-24px.svg'" alt="">
    </button>
    <div class="company">
      {{companyName}}
    </div>
  </div>
  <div class="right">
    <div class="actions">
      <section class="widg-input">
        <input type="text" class="input" name="searchField" #searchBar>
        <label for="searchField" class="input-label" (click)="_focusSearch()">Suche [strg]+[7]</label>
      </section>
    </div>
    <span>
      Hello, User!
    </span>
    <span class="userImage" alt="profileImage"
      [ngStyle]="{'background-image': 'url(https://placeimg.com/72/72/any)'}"></span>
  </div>
</header>
