@import "~src/styles";

$lgtb: 5em;
$smtb: 3em;

header {
  grid-area: header;
  height: $lgtb;
  @include breakpoint(xs) {
    height: $smtb;
  }
  display: inline-flex;
  width: 100%;
  transition: 0.35s;
  justify-content: space-between;
  overflow-x: hidden;
  @include mat-elevation(2);
  background: $background-color-el1;
  right: 0;

  position: fixed;

  @include breakpoint(md) {
    position: relative;
    &.headerFixed {
      position: fixed;
    }
  }
  .left,
  .right {
    display: inline-flex;
    width: auto;
    align-items: center;

    padding: 0 0.35em;
    @include breakpoint(sm) {
      padding: 0 1em;
    }
  }

  .right {
    justify-content: flex-end;
    .userImage {
      display: none;
      @include breakpoint(md) {
        display: initial;
        margin-left: 1em;
        width: 3em;
        height: 3em;
        border-radius: 1.5em;
        background: #e6e6e6;
        background-size: cover;
        background-position: center;
      }
    }

    .actions {
      display: none;
      @include breakpoint(md) {
        margin: 0 1em;
        display: initial;
        .input {
          width: 7em;
        }
      }
      @include breakpoint(lg) {
        .input {
          width: 12em;
        }
      }
    }
  }

  &.menuOpen {
    width: 100%;

    &.headerFixed {
      @include breakpoint(md) {
        width: calc(100% - 300px);
      }

      transition: 0.35s;
    }
  }

  @include breakpoint(md) {
    &.headerFixed {
      width: calc(100% - 300px);
    }

    .left {
      .menuButton {
        display: none;
      }
    }

    &.overlayMenu {
      width: 100%;

      &.headerFixed {
        width: 100%;
      }

      .left {
        .menuButton {
          display: flex;
        }
      }
    }
  }
}

.menuButton {
  background: none;
  border: none;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 4px;
  z-index: 2;
  position: relative;
  margin: 0 0.35m;
  @include breakpoint(sm) {
    margin: 0 1em;
  }

  .bar {
    height: 4px;
    width: 32px;
    margin: 2px 0;
    background: #fff;
    border-radius: 3px;
  }

  &.menuOpen {
    display: flex;
    @include breakpoint(md) {
      display: none;
    }
  }
}
