<div class="wrapper">
  <h1>Here we go!!</h1>
  <div class="dashboardWrapper">
    <div class="dashboardItem x1y1">
      <div class="top">text</div>
      <div class="body">x1y1</div>
      <div class="bottom">
        <span class="text">123</span>
        <button class="success" (click)="success('Success Button')">go</button>
      </div>
    </div>
    <div class="dashboardItem x1y1">
      <div class="top">text</div>
      <div class="body">
        fhskjdhfsjkfhsdfj hasl Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Laboriosam cumque corrupti, in nisi tempora omnis qui,
        ipsum minus nesciunt assumenda deleniti. A ut qui fuga est iusto sint?
        Eaque, pariatur.
      </div>
    </div>
    <div class="dashboardItem x2y1">
      <div class="top">text</div>
      <div class="body">
        <button class="info" (click)="info('Info Button')">
          Info Button
        </button>
        <button class="error" (click)="error('Error Button')">
          Error Button
        </button>
        <button class="warning" (click)="warn('Warning Button')">
          Warning Button
        </button>
      </div>
    </div>
    <div class="dashboardItem x1y1" *ngFor="let planet of plantes$ | async">
      <app-planet-vcard [planet]="planet"> </app-planet-vcard>
    </div>
    <!-- <div class="dashboardItem x1y2">
      <div class="top">text</div>
      <div class="body">x1y2</div>
    </div>
    <div class="dashboardItem x2y2">
      <div class="top">text</div>
      <div class="body">x2y2</div>
    </div>
    <div class="dashboardItem x1y1">
      <div class="top">text</div>
      <div class="body">x1y1</div>
    </div>
    <div class="dashboardItem x1y2">
      <div class="top">text</div>
      <div class="body">x1y2</div>
    </div>
    <div class="dashboardItem x1y1">
      <div class="top">text</div>
      <div class="body">x1y1</div>
      <div class="bottom">
        <span class="text">123</span>
        <button>go</button>
      </div>
    </div>
    <div class="dashboardItem x3y2">
      <div class="top">text</div>
      <div class="body">x3y2</div>
    </div>
    <div class="dashboardItem x1y3">
      <div class="top">text</div>
      <div class="body">x1y3</div>
    </div>
    <div class="dashboardItem x1y1">
      <div class="top">text</div>
      <div class="body">x1y1</div>
    </div>
    <div class="dashboardItem x2y3">
      <div class="top">text</div>
      <div class="body">x2y3</div>
      <div class="bottom">
        <span class="text">123</span>
        <button>go</button>
      </div>
    </div>
    <div class="dashboardItem x1y2">
      <div class="top">text</div>
      <div class="body">x1y2</div>
    </div>
    <div class="dashboardItem x1y1">
      <div class="top">text</div>
      <div class="body">x1y1</div>
    </div>
    <div class="dashboardItem x1y1">
      <div class="top">text</div>
      <div class="body">x1y1</div>
    </div>
    <div class="dashboardItem x3y3">
      <div class="top">text</div>
      <div class="body">x3y3</div>
    </div>
    <div class="dashboardItem x1y1">
      <div class="top">text</div>
      <div class="body">x1y1</div>
    </div>
    <div class="dashboardItem x1y1">
      <div class="top">text</div>
      <div class="body">x1y1</div>
      <div class="bottom">
        <span class="text">123</span>
        <button>go</button>
      </div>
    </div>
    <div class="dashboardItem x1y2">
      <div class="top">text</div>
      <div class="body">x1y2</div>
    </div>
    <div class="dashboardItem x1y2">
      <div class="top">text</div>
      <div class="body">x1y2</div>
    </div> -->
  </div>
</div>
