@import '~src/styles';

.app-wrapper {
  min-height: 100vh;
  display: grid;

  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5em auto auto 5em;

    @media screen and(min-width: 720px ){
      grid-template-areas:
      "nav header"
      "nav main"
      "nav footer";
      grid-template-columns: 0 1fr;
      grid-template-rows: 5em auto 5em;
      transition: .35s;

      &.menuOpen {
        grid-template-areas:
        "nav header"
        "nav main"
        "nav footer";
        grid-template-columns: 300px 1fr;
        grid-template-rows: 5em auto 5em;
        transition: .35s;
    }
  }


  &.pushMenu {
    nav {
    transition: .35s;
    overflow: hidden;
    position: fixed;
    width: 300px;
    transform: translateX(-300px);

    &.menuOpen {
      transition: .35s;
      transform: translateX(0);
      overflow: auto;
    }
  }
}

  &.overlayMenu{
    @media screen and(min-width: 720px ){
      grid-template-columns: 0 1fr;
      transition: .35s;

      &.menuOpen {
        grid-template-columns: 0 1fr;
        transition: .35s;

        main {
          transition: .35s;
          filter: brightness(65%) blur(2px);
        }
    }
    nav {
      transition: .35s;
      overflow: hidden;
      position: fixed;
      transform: translateX(-300px);
      box-shadow: none;

      &.menuOpen {
        transition: .35s;
        width: 300px;
        transform: translateX(0);
        @include mat-elevation(4);
        overflow: auto;
      }
    }
  }
}

  app-header {
    grid-area: header;
    z-index: 1;
  }
  app-sidebar {
    grid-area: nav;
    z-index: 1;
  }
  app-footer {
    grid-area: footer;
  }

  main {
    grid-area: main;
    transition: .35s;
    filter: none;
    padding: 1em;
    z-index: 0;

  }
}
