<nav
  [ngClass]="{
    menuOpen: menuOpen,
    pushMenu: pushMenu,
    overlayMenu: overlayMenu
  }"
>
  <div class="menu" [ngClass]="{ settingsOpen: settingsOpen }">
    <div class="top">
      <button
        *ngIf="menuOpen"
        class="icon-only no-bg menuButton"
        [ngClass]="{ menuOpen: menuOpen }"
        (click)="_toggleMenu()"
      >
        <i class="material-icons md-18" *ngIf="pushMenu">
          menu_open
        </i>
        <i class="material-icons md-18" *ngIf="!pushMenu">
          menu
        </i>
      </button>
      <div></div>
      <!-- <input type="checkbox" name="pinMenu" id="pinMenu" [value]="pushMenu" > -->
      <button
        (click)="_toggleMenuStyle()"
        class="icon-only hover-icon no-bg pinMenu"
      >
        <i class="material-icons hover-front md-18" *ngIf="pushMenu">
          lock
        </i>
        <i class="material-icons hover-back md-18" *ngIf="pushMenu">
          lock_open
        </i>
        <i class="material-icons hover-front md-18" *ngIf="!pushMenu">
          lock_open
        </i>
        <i class="material-icons hover-back md-18" *ngIf="!pushMenu">
          lock
        </i>
      </button>
    </div>
    <div class="content">
      <a
        class="listItem"
        [routerLink]="item.path"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngFor="let item of menuData"
        (click)="_itemClick()"
      >
        <div class="listItemLeft">
          <span class="overlay"></span>
        </div>
        <span class="listItemTop"></span>
        <div class="listItemCenter">
          <span class="icon">
            <img
              [src]="item.icon.svg"
              alt="{{ item.name }} icon"
              *ngIf="item.icon.svg"
            />
            <i class="material-icons md-light" *ngIf="item.icon.material">
              {{ item.icon.material.toString() }}
            </i>
          </span>
          <span class="title">{{ item.name }}</span>
        </div>
        <span class="listItemBottom"></span>
      </a>
    </div>
    <div class="bottom-small">
      <div class="logout">
        <button class="icon-only md-icon" (click)="logout()">
          <i class="material-icons md-18">
            power_settings_new
          </i>
        </button>
      </div>
    </div>
    <div class="bottom">
      <div class="button" (click)="_toggleSettings()">
        <span class="flex between v-center"
          >Settings
          <div
            class="myChevron"
            [ngClass]="{
              myChevron: true,
              up: !settingsOpen,
              down: settingsOpen
            }"
          >
            <span class="chev firstLine"></span>
            <span class="chev secondLine"></span>
          </div>
        </span>
      </div>
      <div class="list">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
      <div class="logout">
        <button class="outlined icon-left elevated" (click)="logout()">
          <span class="icon">
            <i class="material-icons md-18">
              power_settings_new
            </i>
          </span>
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
