@import "~src/styles";

$lgtb: 5em;
$smtb: 3em;

nav {
  grid-area: nav;
  height: 100vh;
  background: #474747;
  z-index: 1;

  &.pushMenu {
    transition: 0.35s;
    overflow: hidden;
    position: fixed;
    width: 300px;
    transform: translateX(-300px);

    &.menuOpen {
      transition: 0.35s;
      transform: translateX(0);
      overflow: auto;
      @include breakpoint(xs) {
        width: 100vw;
      }
    }
  }

  &.overlayMenu {
    @include breakpoint(md) {
      grid-template-columns: 0 1fr;
      transition: 0.35s;

      &.menuOpen {
        grid-template-columns: 0 1fr;
        transition: 0.35s;
        main {
          transition: 0.35s;
          filter: brightness(80%);
        }
      }
      transition: 0.35s;
      overflow: hidden;
      position: fixed;
      transform: translateX(-300px);
      box-shadow: none;

      &.menuOpen {
        transition: 0.35s;
        width: 300px;
        transform: translateX(0);
        @include mat-elevation(4);
        overflow: auto;
      }
    }
  }
}

.menu {
  display: grid;
  height: 100%;
  grid-template-rows: $lgtb 1fr $lgtb;
  @include breakpoint(xs) {
    grid-template-rows: $smtb 1fr $smtb;
  }
  .top {
    display: none;
    @include breakpoint(md) {
      height: 3em;
      background: mat-color($mat-grey, 800);
      align-items: center;
      justify-content: space-between;
      padding: 1em;
      display: flex;
    }
  }
  .content {
    height: auto;
    align-self: flex-start;
    padding: 1em;
  }

  .bottom {
    align-self: flex-end;
    padding: 1em;
    position: relative;
    .list {
      max-height: 0;
      transition: 1s;
      overflow: hidden;
    }

    &:hover {
      .list {
        max-height: 50vh;
        height: min-content;
        transition: 0.5s;
      }
    }
  }

  &.settingsOpen {
    grid-template-rows: $lgtb 1fr auto;
    @include breakpoint(xs) {
      grid-template-rows: $smtb 1fr auto;
    }
    .bottom {
      .list {
        max-height: 50vh;
        height: min-content;
        transition: 0.5s;
      }
    }
  }
}

.pinMenu {
  background: none;
  border: none;
}
