<nav
  [ngClass]="{
    menuOpen: menuOpen,
    pushMenu: pushMenu,
    overlayMenu: overlayMenu
  }"
>
  <div class="menu" [ngClass]="{ settingsOpen: settingsOpen }">
    <div class="top">
      <button
        *ngIf="menuOpen"
        class="icon-only menuButton"
        [ngClass]="{ menuOpen: menuOpen }"
        (click)="_toggleMenu()"
      >
        <img
          [src]="
            menuOpen
              ? 'assets/icons/menu-24px.svg'
              : 'assets/icons/menu_open-24px.svg'
          "
          alt="menu icon"
        />
      </button>
      <div></div>
      <!-- <input type="checkbox" name="pinMenu" id="pinMenu" [value]="pushMenu" > -->
      <button (click)="_toggleMenuStyle()" class="icon-only pinMenu">
        <img
          [src]="
            pushMenu
              ? 'assets/icons/lock-24px.svg'
              : 'assets/icons/lock_open-24px.svg'
          "
          alt="fix menu"
        />
      </button>
    </div>
    <div class="content">
      <a
        class="listItem"
        [routerLink]="item.path"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngFor="let item of menuData"
        (click)="_itemClick()"
      >
        <div class="left">
          <span class="overlay"></span>
        </div>
        <span class="top"></span>
        <span class="center">{{ item.name }}</span>
        <span class="bottom"></span>
      </a>
    </div>
    <div class="bottom">
      <div class="button" (click)="_toggleSettings()">
        <span class="flex between v-center"
          >Settings
          <div
            class="myChevron"
            [ngClass]="{
              myChevron: true,
              up: !settingsOpen,
              down: settingsOpen
            }"
          >
            <span class="chev firstLine"></span>
            <span class="chev secondLine"></span>
          </div>
        </span>
      </div>
      <div class="list">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
      <div class="logout">
        <button class="outlined icon-left elevated" (click)="logout()">
          <span class="icon">X</span>
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
