@import "~src/styles";

$lgtb: 5em;
$smtb: 3em;

nav {
  grid-area: nav;
  height: 100vh;
  // background: #474747;
  background: $background-color-el1;
  z-index: 1;

  position: fixed;
  top: $smtb;
  width: 300px;
  max-width: 100vw;
  transform: translateX(-100vw);
  transition: 0.35s;

  &.menuOpen {
    transition: 0.35s;
    transform: translateX(0);
    overflow: auto;
  }

  @include breakpoint(sm) {
    top: $lgtb;
    transform: translateX(-300px);
  }

  @include breakpoint(md) {
    top: 0;
  }

  @include breakpoint(md) {
    transform: translateX(0);

    transition: 0.35s;
    overflow: hidden;
    position: fixed;
    width: 300px;
    overflow: auto;

    &.overlayMenu {
      width: 300px;
      transform: translateX(-300px);
      // position: fixed;
      // top: 0;

      @include breakpoint(xs) {
        transform: translateX(-100vw);
        transition: 0.35s;
        position: fixed;
        &.menuOpen {
          transform: translateX(0);
          transition: 0.35s;
          width: 100vw;
        }
      }

      @include breakpoint(md) {
        grid-template-columns: 0 1fr;
        transition: 0.35s;

        &.menuOpen {
          grid-template-columns: 0 1fr;
          transition: 0.35s;
          main {
            transition: 0.35s;
            filter: brightness(80%);
          }
        }
        transition: 0.35s;
        overflow: hidden;
        position: fixed;
        transform: translateX(-300px);
        box-shadow: none;

        &.menuOpen {
          transition: 0.35s;
          width: 300px;
          transform: translateX(0);
          @include mat-elevation(4);
          overflow: auto;
        }
      }
    }
  }
}

.menu {
  display: grid;
  height: calc(100vh - 3em);
  grid-template-rows: 1fr $smtb;
  @include breakpoint(sm) {
    height: calc(100vh - 5em);
  }
  @include breakpoint(md) {
    height: 100%;
    grid-template-rows: $lgtb 1fr $lgtb;
  }
  .top {
    display: none;
    @include breakpoint(md) {
      // height: $lgtb;

      @include mat-bg-elevation(2);
      align-items: center;
      justify-content: space-between;
      padding: 1em;
      display: flex;
    }
  }
  .content {
    height: auto;
    align-self: flex-start;
    overflow: auto;
    max-height: calc(100% - 5em);
    padding: 1em;
    @include breakpoint(md) {
      max-height: calc(100% - 5em);
      padding: 1em 0 1em 1em;
    }
    .listItem {
      background: $background-color-el1;
      display: grid;

      grid-template-areas: "center";
      grid-template-columns: 1fr;
      grid-template-rows: auto;

      @include breakpoint(md) {
        grid-template-areas:
          "top top"
          "left center"
          "bottom bottom";

        grid-template-columns: 2em auto;
        grid-template-rows: 1em auto 1em;
      }
      text-decoration: none;

      font-size: 1.2em;

      .top,
      .bottom {
        background: $background-color-el1;
        height: 1em;
        display: none;
        @include breakpoint(md) {
          display: block;
        }
        padding: 0;
      }

      .center {
        display: block;
        padding: 1em 0;
        grid-area: center;
      }

      .left {
        background: $background-color-el1;
        grid-area: left;
        position: relative;
        display: none;
        @include breakpoint(md) {
          display: block;
        }
        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
      .top {
        grid-area: top;
      }
      .bottom {
        grid-area: bottom;
      }

      &.active {
        .center {
          background: $background-color-el0;
          padding: 0.5em 1em;
          @include breakpoint(md) {
            padding: 1em;
          }
          border-radius: 1.5em;
        }
      }
      @include breakpoint(md) {
        &.active {
          background: $background-color-el0;
          .top,
          .bottom {
            background: $background-color-el1;
          }
          .top {
            border-end-end-radius: 1em;
          }
          .bottom {
            border-start-end-radius: 1em;
          }
          .center {
            padding: 1em 0;
          }
          .left {
            background: $background-color-el1;
            .overlay {
              border-end-start-radius: 2em;
              border-start-start-radius: 2em;
              background: $background-color-el0;
            }
          }
        }
      }
    }
  }

  .bottom {
    align-self: flex-end;
    padding: 1em;
    position: relative;
    display: grid;
    gap: 0.5em;
    background: $background-color-el2;
    transition: 0.5s;

    .list {
      max-height: 0;
      transition: 0.5s;
      overflow: hidden;
    }

    // &:hover {
    //   .list {
    //     max-height: 50vh;
    //     height: min-content;
    //     transition: 0.5s;
    //   }
    // }
  }

  &.settingsOpen {
    // grid-template-rows: $smtb 1fr $smtb;
    // @include breakpoint(sm) {
    //   grid-template-rows: $lgtb 1fr $lgtb;
    // }

    // grid-template-rows: 1fr $smtb;
    // @include breakpoint(md) {
    //   grid-template-rows: $lgtb 1fr $lgtb;
    // }
    .bottom {
      background: $background-color-el5;
      transition: 0.5s;

      .list {
        max-height: 50vh;
        height: min-content;
        transition: 0.5s;
      }
    }
  }
}

.pinMenu {
  background: none;
  border: none;
}
