@import "~src/styles";

$lgtb: 5em;
$smtb: 3em;

.app-wrapper {
  min-height: 100vh;
  display: grid;

  app-header {
    grid-area: header;
    z-index: 1;
  }
  app-sidebar {
    grid-area: nav;
    z-index: 1;
  }
  app-footer {
    grid-area: footer;
  }

  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: $smtb 0 1fr $smtb;

  main {
    transition: 0.35s;
    filter: none;
    padding: 0.5em;
    z-index: 0;
    @include breakpoint(sm) {
      padding: 1em;
    }
  }

  &.menuOpen {
    transition: 0.35s;
    main {
      transition: 0.35s;
      filter: brightness(65%) blur(2px);
    }
  }

  @include breakpoint(sm) {
    grid-template-rows: $lgtb 0 1fr $lgtb;
  }

  @include breakpoint(md) {
    grid-template-areas:
      "nav header"
      "nav main"
      "nav footer";

    grid-template-columns: 72px 1fr;
    grid-template-rows: $lgtb 1fr $lgtb;
    transition: 0.35s;

    main {
      transition: 0.35s;
      filter: none;
    }

    &.menuOpen {
      transition: 0.35s;
      main {
        transition: 0.35s;
        filter: none;
      }
    }

    &.overlayMenu {
      // @include breakpoint(xs) {
      grid-template-areas:
        "nav header"
        "nav main"
        "nav footer";

      grid-template-columns: 0 1fr;

      // grid-template-rows: $smtb 0 1fr $smtb;
      // grid-template-columns: 1fr;

      // grid-template-columns: 0 1fr;
      transition: 0.35s;

      &.menuOpen {
        // grid-template-columns: 0 1fr;
        transition: 0.35s;

        main {
          transition: 0.35s;
          filter: brightness(65%) blur(2px);
        }
      }
      nav {
        transition: 0.35s;
        overflow: hidden;
        position: fixed;
        transform: translateX(-72px);
        box-shadow: none;

        &.menuOpen {
          transition: 0.35s;
          width: 72px;
          transform: translateX(0);
          @include mat-elevation(4);
          overflow: auto;
        }
      }
    }
  }

  @include breakpoint(lg) {
    grid-template-areas:
      "nav header"
      "nav main"
      "nav footer";

    grid-template-columns: $menuWidth 1fr;
    grid-template-rows: $lgtb 1fr $lgtb;
    transition: 0.35s;

    main {
      transition: 0.35s;
      filter: none;
    }

    &.menuOpen {
      transition: 0.35s;
      main {
        transition: 0.35s;
        filter: none;
      }
    }

    &.overlayMenu {
      // @include breakpoint(xs) {
      grid-template-areas:
        "nav header"
        "nav main"
        "nav footer";

      grid-template-columns: 0 1fr;

      // grid-template-rows: $smtb 0 1fr $smtb;
      // grid-template-columns: 1fr;

      // grid-template-columns: 0 1fr;
      transition: 0.35s;

      &.menuOpen {
        // grid-template-columns: 0 1fr;
        transition: 0.35s;

        main {
          transition: 0.35s;
          filter: brightness(65%) blur(2px);
        }
      }
      nav {
        transition: 0.35s;
        overflow: hidden;
        position: fixed;
        transform: translateX(-$menuWidth);
        box-shadow: none;

        &.menuOpen {
          transition: 0.35s;
          width: $menuWidth;
          transform: translateX(0);
          @include mat-elevation(4);
          overflow: auto;
        }
      }
    }
  }
}
