/* You can add global styles to this file, and also import other style files */
@import "./theme/variables";
@import "./theme/palette";
@import "./theme/theming";
@import "./theme/mixins";
@import "./theme/elevation";
@import "./theme/classes";

$primary: mat-palette($mat-lime);
$accent: mat-palette($mat-cyan, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);


$primary-color: mat-color($mat-lime, 200);
$primary-contrast: $background-color;

$primary-complementary: #a49cee;
$primary-analog1: #eecd9c;
$primary-analog2: #bdee9c;
$primary-triade1: #9ceea4;
$primary-triade2: #9ce6ee;

$secondary-color: mat-color($mat-cyan, 200);
$secondary-contrast: $background-color;

$warning-color: mat-color($mat-red, 400);
$warning-contrast: $background-color;

$info-color: mat-color($mat-amber, 400);
$info-contrast: $background-color;


@mixin transform($property) {
  transform: $property;
}

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  @include transform(rotate(30deg));
}

body {
  margin: 0;
  padding: 0;
  background: $background-color;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-snap-type: y proximity;
  app-home, app-root {
    scroll-snap-type: y proximity;
  }
}

/*

.text-center { text-align: center }

@media (min-width: 640px) {
  .tablet\:text-center { text-align: center }
}

@media (min-width: 1024px) {
  .laptop\:text-center { text-align: center }
}

@media (min-width: 1280px) {
  .desktop\:text-center { text-align: center }
}

*/

@mixin breakpoint($point) {
  @if $point == xl {
    @media screen and (min-width: 70em) {
      @content;
    }
  } @else if $point == lg {
    @media screen and (min-width: 64em) {
      @content;
    }
  } @else if $point == md {
    @media screen and (min-width: 50em) {
      @content;
    }
  } @else if $point == sm {
    @media screen and (min-width: 37.5em) {
      @content;
    }
  } @else if $point == xs {
    @media screen and (max-width: 37.5em) {
      @content;
    }
  }
}

a {
  color: mat-color($mat-lime, 200);
}

.menuButton {
  background: none;
  border: none;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 4px;
  z-index: 2;
  position: relative;
  margin: 0 1em;

  img {
    width: 32px;
  }

  // .bar {
  //   height: 4px;
  //   width: 32px;
  //   margin: 2px 0;
  //   background: #fff;
  //   border-radius: 3px;
  // }

  // &.menuOpen {
  //   .bar {
  //     position: absolute;
  //     &.firstBar {
  //       transition: 0.8s;
  //       transform: translatex(-10px) translateY(6px) rotate(40deg);

  //       width: 22px;
  //     }
  //     &.secondBar {
  //       transition: 0.6s;
  //     }
  //     &.thirdBar {
  //       transition: 0.6s;
  //       transform: translatex(-10px) translateY(-6px) rotate(-40deg);
  //       width: 22px;
  //     }
  //   }

  // }
}

.widg-input {
  display: flex;
  position: relative;
  padding: 8x 0 0;
  .input-label {
    position: absolute;
    top: 14px;
    left: 12px;
    transition: 0.25s;
    // order: -1;
    background: mat-color($mat-grey, 900);
    font-size: 1em;
    padding: 0 6px;
    opacity: 0.8;
    cursor: text;
  }
  .input {
    background: none;
    border: 1px solid white;
    height: 24px;
    border-radius: 5px;
    padding: 0.75em 1em;
    order: 0;
    color: white;
    &:focus {
      box-shadow: 0 0 1px 2px rgba(200, 200, 200, 0.6);

      + .input-label {
        top: -8px;
        font-size: 0.7em;
        transition: 0.25s;
        font-weight: bolder;
        opacity: 1;
      }
    }
  }
}


button {
  border: none;
  background: $primary-color;
  color: $primary-contrast;
  border-radius: 2em;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  transition: $short;
  box-shadow: none;
  font-weight: bolder;
  cursor: pointer;

  &.icon-left {
    padding-left: 1em;
    .icon {
      margin-right: .5em;
    }
  }
  &.icon-right {
    padding-right: 1em;
    .icon {
      margin-left: .5em;
    }
  }

  &.outlined {
    background: none;
    border: 1px solid $primary-color;
    color: $primary-color;
    &:hover, &:active {
      background: $primary-color;
      color: $primary-contrast;
    }
  }

  &.elevated {
    @include mat-elevation(1);
    transition: $short;
  }

  &:hover, &:active {
    transition: $short;
    background-color: lighten($primary-color, $amount: 4);
    @include mat-elevation(1);
    &.elevated {
      @include mat-elevation(2);
    }
  }

  &.secondary {
    background: $secondary-color;
    color: $secondary-contrast;
    &:hover, &:active {
      background-color: lighten($secondary-color, $amount: 4);
      @include mat-elevation(1);
      transition: $short;
    }
  }

  &.info {
    background: $info-color;
    color: $info-contrast;
    &:hover, &:active {
      background-color: lighten($info-color, $amount: 4);
      @include mat-elevation(1);
      transition: $short;
    }
  }


  &.warning {
    background: $warning-color;
    color: $warning-contrast;
    &:hover, &:active {
      background-color: lighten($warning-color, $amount: 4);
      @include mat-elevation(1);
      transition: $short;
    }
  }

  &.icon-only {
    &:hover, &:active {
      background: none;
    }
  }
}
